* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1170px;
    width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

// Logo
.logo {
    &__img {
        width: 127px;
    }
}

.btn {
    @include button;
}

.section {
    &__heading {
        font-weight: 700;
        font-size: 4.2rem;
        line-height: 1.5;
        color: $headingColor;
    }

    &__desc {
        margin-top: 18px;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1.5;
        color: $sectionDesc;

        &--small {
            font-size: 1.4rem;
            color: $textColor;
        }
    }

    &__label {
        letter-spacing: 5px;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.5;
        color: $textColor;
    }
}

.category {
    &__text {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.5;
        color: $sectionDesc;
    }
}

.avatar {
    @include avatar(33px, 33px, #bf83ff);
}
